.contact-section {
  padding-top: 2rem;
}

.contact-info li {
  display: flex;
  align-items: center;
}

.contact-info li .data {
  margin-left: 1.9rem;
}

#fa-icon {
  color: #03a9f4;
  font-size: 1.5rem;
  width: 1em;
}

.data p {
  font-size: 1.2rem;
}
